<div class="modal">
  <div class="modal-body">
  	<h1 id="targetExercise" class="text-black text-capitalize"></h1>
	  <a class="btn btn-info" data-action="remove" data-workoutid="">Remove From Workout</a>
		<a class="btn btn-warn" data-action="delete">Delete Exercise</a>
	  <button class="close-button" data-close aria-label="Close modal" type="button">
	    <span aria-hidden="true"><i class="far fa-times"></i>	</span>
	  </button>
  </div>
</div>