<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Workout Planner</title>
	<script src="https://kit.fontawesome.com/f0d0ed7055.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="customizations.css">
</head>
<body>
	<div id="page-container" class="sidebar-none site-nav-none">
		{{{body}}}
	</div>


 	<script src="https://code.jquery.com/jquery-3.5.0.min.js"
      integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <script src="app.js"></script>
</body>
</html>